<h1>{{this.text}}</h1>
Categories:
<span class="label label-primary">{{this.category}}</span> <br /> <br />
<img src="{{this.img}}">
<p>Shared <b>{{this.shareDate}}</b> | Likes: <b>{{this.likes}}</b> | Dislikes: <b>{{this.dislikes}}</b></p>
